.loop-machine {
        padding: 0 20px;

        h1 {
                color      : whitesmoke;
                font-family: roboto-bold;
        }

        .control {
                height: 90px;

                h1 {
                        font-size: 30px;
                        margin   : 0;
                }
        }
}